<div class="container">
  <app-header>Header Works</app-header>
  <!-- <main class="main"> -->
    <app-main>
      <!-- Main Works!! -->
      <!-- <aside class="sidebar"> -->
        <app-sidebar>
          sidebar Works!!
        </app-sidebar>
  <!-- </aside> -->
      <div class="right-content" > 
        <!-- Right content -->
        <!-- <section class="featured"> -->
        
          <app-featured>Featured works!</app-featured>
        <!-- </section> -->
        <!-- <section class="articles"> -->
          <app-articles>
            <!-- Articles Works -->
            <!-- <article class="card-image"> -->
              <app-card-image>CARD-IMAGE: Image A</app-card-image>
            <!-- </article> -->
            <!-- <article> -->
              <app-card-image>CARD iMAGE: Image B</app-card-image>
            <!-- </article> -->
          </app-articles>
        <!-- </section> -->
      </div>
    </app-main>
  <!-- </main> -->
</div>
<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
<app-main></app-main>
<app-featured></app-featured>
<app-articles></app-articles>
<app-card-image></app-card-image>
<app-card-image></app-card-image> -->
