<div class="container">
  <app-header class="header"></app-header>
  <aside class="sidebar">
    <app-sidebar></app-sidebar>
  </aside>
  <main class="main">
    <app-main>
      <section class="featured">
        <app-featured></app-featured>
      </section>
      <section class="articles">
        <app-articles>
          <article>
            <app-card-image>CARD-IMAGE: Image A</app-card-image>
          </article>
          <article>
            <app-card-image>CARD iMAGE: Image B</app-card-image>
          </article>
        </app-articles>
      </section>
    </app-main>
  </main>
</div>
<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
<app-main></app-main>
<app-featured></app-featured>
<app-articles></app-articles>
<app-card-image></app-card-image>
<app-card-image></app-card-image> -->
